.heading-1 {
    margin-left: 485px;
    font-size: 65px;
}

.input-field-1 {
    font-size: 32px;
    margin-left: 435px;
}

.Add-btn {
    margin-left: 575px;
    font-size: 30px;
}

.list-item {
    margin-left: 525px;
    font-size: 30px;
}

.list-items-heading {
    margin-left: 525px;
    font-size: 35px;   
}

.background-color {
    background-color: lightblue;
}